@font-face {
    font-family: mader;
    src: url("../css/MADER-REGULAR.otf");
    font-display: swap;
}

input[type='text']:focus::-webkit-input-placeholder {
    color: transparent;
}

.nav-link {
    font-family: mader, sans-serif;
    font-size: 2rem;
    color: whitesmoke !important;
}

.container {
    border: 1px solid #000;
    border-radius: 15px;
}

.text-black {
    color: black !important;
    background-color: inherit;
}

.navbar-dark {
    background-color: rgb(30, 30, 30) !important;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 700px;
    }
}


