@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

@font-face {
    font-family: mader;
    src: url("../css/MADER-REGULAR.otf");
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 300ms ease-in-out;
    opacity: 0;
}

.nav-link, h1, h2, h3, h4, h5, p, span {
    color: whitesmoke !important;
    background-color: inherit !important;
}

.nav-link {
    font-family: mader, sans-serif;
}

.bg-dark {
    background-color: #212129 !important;
}

.bg-dark2 {
    background-color: #323949 !important;
}

hr {
    background-color: #212129 !important;
}

section {
    position: relative;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2 {
    font-family: mader, sans-serif;
}

h3 {
    font-family: 'Londrina Solid', cursive;
}

#home {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/pexels-pixabay-531880.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#who h1, #contact h1 {
    font-size: 4.5rem;
}

#who img {
    border-radius: 25%;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: rgb(150, 150, 150);
}


@media screen and (max-width: 768px) {
    .nav-link {
        font-size: 2rem;
    }

    .navbar-dark {
        background-color: rgb(30, 30, 30) !important;
    }

    h1 {
        font-size: 7rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #home img {
        max-width: 60%;
    }

    #who img {
        max-width: 175px;
    }

    .width {
        max-width: 80% !important;
    }
}

@media screen and (min-width: 768px) {
    .nav-link {
        font-size: 2rem;
    }

    .navbar-dark {
        background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) !important;
    }

    .fixed-top.scrolled {
        background-color: black !important;
        transition: background-color 200ms linear;
    }

    .width {
        max-width: 50% !important;
    }

    #home h1 {
        font-size: 7rem;
    }

    #home h2 {
        font-size: 2rem;
    }
}

/*@media screen and (min-width: 1200px){*/
/*    html {*/
/*        scroll-snap-type: y proximity;*/
/*    }*/

/*    section {*/
/*        scroll-snap-align: start;*/
/*    }*/
/*}*/